<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DataRowSharepointMappingsSection" type="SharePointListCopy.DataRowSharepointMappingConfigSection, SharePointListCopy" />
    <section name="DataRowDHCMappingsSection" type="SharePointListCopy.DataRowSharepointMappingConfigSection, SharePointListCopy" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <DataRowDHCMappingsSection>
    <DataRowSharepointMappings>
      <add SharePointColumn="DHC_PredictorScoreCurrent" DataRowColumn="DHC Predictor Score" />
      <add SharePointColumn="DHC_CloserScore" DataRowColumn="DHC Closer Score" />
    </DataRowSharepointMappings>
  </DataRowDHCMappingsSection>
  <DataRowSharepointMappingsSection>
    <DataRowSharepointMappings>
      <add SharePointColumn="Title" DataRowColumn="Opportunity Name" />
      <add SharePointColumn="SalesStage" DataRowColumn="Sales Stage" />
      <add SharePointColumn="OppID" DataRowColumn="Sales Opportunity Id" />
      <add SharePointColumn="OpportunityType" DataRowColumn="Opportunity Type" />
      <add SharePointColumn="OpportunityOwner" DataRowColumn="Opportunity Owner" />
      <add SharePointColumn="AccountName" DataRowColumn="Account Name" />
      <add SharePointColumn="OpportunityDescription" DataRowColumn="Opportunity Description" />
      <add SharePointColumn="TotalMarginAmount" DataRowColumn="Total Margin Amount" />
      <add SharePointColumn="TotalOpportunityValue" DataRowColumn="Total Opportunity Value" />
      <add SharePointColumn="FiscalPeriod" DataRowColumn="Fiscal Period" />
      <add SharePointColumn="RFPIssueDate" DataRowColumn="RFP Issue Date" />
      <add SharePointColumn="CloseDate" DataRowColumn="Close Date" />
      <add SharePointColumn="ProposalDueDate" DataRowColumn="Proposal Due Date" />
      <add SharePointColumn="Closed" DataRowColumn="Closed" />
      <add SharePointColumn="Forecast" DataRowColumn="Forecast Category" />
      <add SharePointColumn="TotalContractLengthMonths" DataRowColumn="Total Contract Length In Months" />
      <add SharePointColumn="TotalFirstFiscalYearValue" DataRowColumn="Total First Fiscal Year Value" />
      <add SharePointColumn="Won" DataRowColumn="Won" />
      <add SharePointColumn="WonLostDate" DataRowColumn="Won/Lost Date" />
      <add SharePointColumn="WonLostReason" DataRowColumn="Won/Lost Reason" />
      <add SharePointColumn="SalesForceCreated" DataRowColumn="Created Date" />
      <add SharePointColumn="SalesForceCreatedBy" DataRowColumn="Created By" />
      <add SharePointColumn="SalesForceModified" DataRowColumn="Last Modified Date" />
      <add SharePointColumn="SalesForceModifiedBy" DataRowColumn="Last Modified By" />
      <add SharePointColumn="EconomicValue" DataRowColumn="Economic Value" />
      <add SharePointColumn="Campaign" DataRowColumn="Primary Campaign Name" />
      <add SharePointColumn="CCLN" DataRowColumn="Customer Contact Last Name" />
      <add SharePointColumn="Product" DataRowColumn="Product Name" />
      <add SharePointColumn="OfferingFamily" DataRowColumn="Offering Family" />
    </DataRowSharepointMappings>
  </DataRowSharepointMappingsSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="clientContextWeb" value="https://uspsector.sharepoint.us/teams/GXT1" />
    <add key="backupListTarget" value="PipelineBackup" />
    <add key="backupListSource" value="Pipeline" />
    <add key="updateList" value="Pipeline" />
    <add key="pipelineBackupDocLib" value="PipelineArchive" />
    <add key="excelIndexTitle" value="Sales Opportunity Id" />
    <add key="sharepointIndexTitle" value="OppID" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.0.0" newVersion="16.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.0.0" newVersion="16.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>